################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Users.Api/.vs
/Users.Api/bin/Debug/net8.0
/Users.Api/obj
