apiVersion: v1
kind: Service
metadata:
  name: users-api
  namespace: fiap-cloud-games
spec:
  selector:
    app: users-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP
